<!DOCTYPE html>
<html>
<head>
    <style>
        .header-tenant {
            padding: 2px;
            padding-top: 15px;
            font-weight: 500;
            font-size: 12px;
        }
        .divider-two {
        background-color: #039983;
        height: 3px;
        width: 100%;
         }
    </style>
</head>
<body>
    <div>
        <p class="header-tenant">
            <span  style="text-transform: uppercase;">   {{tenantName}} </span>
            <span style="font-weight: 500;  font-size: 16px;padding-left: 580px;"> 
                <img src="{{stepchangeLogo}}"/>
                StepChange</span></p>
                <div class="divider-two"></div>
    </div>
</body>
</html>
